@page
@model Admin.Pages.Housekeeping.Manage.ChattersModel
@{
	string channel = String.Empty;
	try
	{
		channel = RouteData.Values["HousekeepingTemplate"].ToString();
		ViewData["Title"] = $"{channel} - Manage Chatters";
	}
	catch
	{
		Response.Redirect("/Housekeeping");
	}

	@using Admin.Models;
	@using MySql.Data.MySqlClient;
	List<Chatter> GetChatters()
	{
		List<Chatter> chatters = new List<Chatter>();
		MySqlConnection conn = new MySqlConnection($"server={Constants.Config.Host};port=3306;database=cc_{channel};uid={Constants.Config.User};password={Constants.Config.Password};");
		conn.Open();
		string sql = "SELECT * FROM chatters;";
		MySqlCommand cmd = new MySqlCommand(sql, conn);
		MySqlDataReader rdr = cmd.ExecuteReader();
		while(rdr.Read())
		{
			chatters.Add(new Chatter(Int32.Parse(rdr[0].ToString()), rdr[1].ToString(), rdr[2].ToString().Split(' ')[0], rdr[3].ToString().Split(' ')[0]));
		}
		return chatters;
	}

	List<Chatter> chatters = new List<Chatter>();
	int num_pages = 0;
	int page_number = 1;
	try
	{
		chatters = GetChatters();
		if (chatters.Count % 25 != 0)
		{
			num_pages = chatters.Count / 25 + 1;
		}
		else
		{
			num_pages = chatters.Count / 25;
		}
	}
	catch
	{
		Response.Redirect($"/Housekeeping/Manage/{channel}");
	}

}
<html>
	<head></head>
	<body>
		<div class="holder">
			<div class="tools">	
				<div class="tool-group">
					<div class="tool-group-title">
						Chatter settings
					</div>
					<div class="tool-group-tools">
						<ul class="tool-items">
							<li class="tool-item tool-item-top tool-item-bottom tool-item-current"><a class="side-link" href="/Housekeeping/Manage/Chatters/@channel">Manage chatters</a></li>
						</ul>
					</div>
				</div>
				<div class="tool-group not-top">
					<div class="tool-group-title">
						Emote settings
					</div>
					<div class="tool-group-tools">
						<ul class="tool-items">
							<li class="tool-item tool-item-top tool-item-bottom"><a class="side-link" href="/Housekeeping/Manage/Emotes/@channel">Manage emotes</a></li>
						</ul>
					</div>
				</div>
				<div class="tool-group not-top">
					<div class="tool-group-title">
						Message settings
					</div>
					<div class="tool-group-tools">
						<ul class="tool-items">
							<li class="tool-item tool-item-top tool-item-bottom"><a class="side-link" href="/Housekeeping/Manage/Messages/@channel">Manage messages</a></li>
						</ul>
					</div>
				</div>
				<div class="tool-group not-top">
					<div class="tool-group-title">
						Session settings
					</div>
					<div class="tool-group-tools">
						<ul class="tool-items">
							<li class="tool-item tool-item-top tool-item-bottom"><a class="side-link" href="/Housekeeping/Manage/Sessions/@channel">Manage sessions</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-content-holder">

				<div class="manage-holder">

					<div class="banner">
							<h1 class="banner-channel-name">@channel<span class="page-name"> - chatters</span></h1>
							<div class="banner-back"><a href="/Housekeeping/Manage/@channel">Return to dashboard</a></div>
							<div class="banner-back button-not-last"><a href=""><i class="fa-solid fa-arrows-rotate"></i></a></div>
					</div>

					<div class="settings-holder">
						<table class="table table-striped small-table center">
							<tr>
								<th>Username</th>
								<th>First seen</th>
								<th>Last seen</th>
							</tr>
						@{
							string display = String.Empty;
							for (int i = 0; i < chatters.Count; i++)
							{
								if (i == 25)
								{
									display = "hidden";
								}
								if(i % 25 == 0 && i != 0)
								{
									page_number += 1;
								}
								<tr class="page-@page_number @display">
									<td class="chat-username"><a href="/Housekeeping/Manage/Messages/@channel$@chatters[i].Username">@chatters[i].Username</a></td>
									<td>@chatters[i].First_Date</td>
									<td>@chatters[i].Last_Date</td>
								</tr>
							}
						}
						</table>
						<div id="pages" class="noselect">
						@{
							for (int i = 1; i <= num_pages; i++)
							{
								if(i > 3 && num_pages > 25 && i < num_pages - 3)	// list the last 3 pages if page count is > 25
								{
									i = num_pages - 2;
									<span>...</span>
								}
								if (i == 1)
								{
									<span class="page-number page-current" id="page-@i-button">@i</span>
								}
								else
								{
									<span class="page-number" id="page-@i-button">@i</span>
								}
							}
						}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>